Makefile
Makefile.in

config.status

autom4te.cache/

po/Makefile
po/Makefile.in
po/POTFILES
po/en@boldquot.gmo
po/en@boldquot.insert-header
po/en@boldquot.po
po/en@quot.gmo
po/en@quot.insert-header
po/en@quot.po
po/remove-potcdate.sed

po/stamp-po
po/it/
po/*.gmo

quick_quicklisp.sh

src/config.lisp

**-noshare.*

**~

*.diff
*.patch
*.log

tinmop
